h1 {
    text-align: center;
    color: rgb(253, 0, 0);
}

p {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: chartreuse;
    margin-left: 40px;
    margin-right: 40px;
}

ol {
    font-family: "Handjet";
    color: chartreuse;
    margin-left: 50px;
    font-size: 25px;
}

body {
    background-color: black;
}

.gd-passion {
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.insta-link {
    text-align: center;
}

a:link {
    color: red;
}

a:visited {
    color: rgba(255, 0, 0, 0.788);
}

a:hover {
    color: firebrick;
}